p {
  color: red;
  font-size: 12px;
}

h1 {
  color: pink;
  font-size: 24px;
  font-family: Georgia, serif;
  {

    
  
h2 { font-size: 22px;}
h3 { font-size: 18px;}
h4 { font-size: 16px;}
h5 { font-size: 12px;}
h6 { font-size: 10px;}
