p {
  
  font-size: 12px;
}

h1 {
  color: #31708E;
  font-size: 28px;
 }
  
h2 { font-size: 20px;
    color: #5085A5;
    }

h3 {
  color: #808080;
  font-type: italics;
  font-size: 14px;
 }

ul {
  font-size: 12px;
}

body {
   font-family: Lora;
}

#header {
      bgcolor: #31708E;
  list-style: right; 
  padding-top: 20px;
}

#footer {
  font-size: 12px;
  Background: red;
  padding: 50px ;
   list-style: Center;
}

footer .col-sm-4 {
  display: flex;
  justify-content: flex-end;
  font-size: 56px;
  Background: red;
}

footer ul {
  list-style: none;
}
